* {
	box-sizing: border-box;
}

body{
margin: 0;
padding: 0;
}

.row{
	margin: 5%;
	padding: 5%;
}

h1 {
text-align: center;
margin-bottom: 15px;
font-size: 60px;
font-style: italic;
}

.box{
width: 100%;
overflow: none;
}

.content{
  border: 5px solid black;
  width: 90%;
  height: auto;
  margin: 2.5%;
  color: black
  font-size: 25px;
  padding: 2%;
  padding-top: 55px;
  background-color: rgba(0,0,0,0.3);
}



h2 {
     float: right;
     border:3px solid black;
    
     font-size: 125%;
     padding: 5px 20px 5px 20px;
     margin-top: 0;
     margin-bottom: 30px;
 }
 #chicken {
     background-color: pink;
 }

 #beef {
     background-color: red;
     color: white;
 }

 #sushi {
     background-color: yellow;
 }



@media (min-width: 992px) {
  .col-lg-4 {
  	float: left;
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    margin-left: -10px;
    width: 100%;
  }
  .contentname3{
    margin-right: 65px;
    width: 100px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
  	float: left;
    width: 100%;
  }
  .cn{
    margin-right: 30px;
    text-align: right;
  }
}
